@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&display=swap);
:root {
    --color-font: rgb(17, 20, 26);
    --color-logo-orange: rgb(255, 147, 31);
    --color-logo-green: rgb(75, 168, 46);
    --color-logo-red: rgb(233, 25, 25);
    --color-logo-blue: rgb(52, 139, 202);
    --color-bg: rgb(255, 255, 255);
    --color-bg-header: rgba(255, 255, 255, 0.95);
    --color-bg-sidebar: rgb(255, 255, 255);
    --color-bg-footer: rgb(245, 245, 245);
    --color-shadow: rgb(201, 201, 201);
    --ff: 'Montserrat', sans-serif;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;
    font-weight: 400;
    line-height: 1;
    color: var(--color-font);
    font-family: var(--ff);
    box-sizing: border-box;
    background: var(--color-bg);
    scroll-behavior: smooth;
}

/* {outline: 1px solid rgb(153, 51, 144);} 

/* === GENERAL === */
body {
    width: 100vw;
    margin: 0 auto;
}

a {
    color: var(--color-font);
    text-decoration: none;
}

h1 {
    font-size: 2rem;
}

ul li {
    list-style-type: none;
}

.container {
    width: 100vw;
    background-color: #fff;
}

.wrap {
    margin: 0 auto;
    max-width: 1400px;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 300px;
	height: 280px;
    padding: 30px 10px;
    margin: 10px;
	border-radius: 2px;
    transition: .5s;
}

/* === SITE HEADER === */
header.container {
    height: 80px;
    background: var(--color-bg-header);
    position: sticky;
    top: 0;
    z-index: 20;
}

header .wrap {
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
    z-index: 5;
}

.site-logo {
    margin: auto 0;
    margin-right: 30px;
}

header ul li {
    list-style-type: none;
    display: inline-block;
    padding: 32px 10px;
}

header ul li i {
    padding-right: 5px;
}

header ul li a {
    font-size: 1rem;
}

header nav {
    text-transform: uppercase;
}

header .wrap nav ul li:active,
header .wrap nav ul li:focus,
header .wrap nav ul li:hover {
    cursor: pointer;
    background-color: var(--color-logo-orange);
    transition: 0.4s;
}

header nav ul li:active a,
header nav ul li:focus a,
header nav ul li:hover a{
    color: #fff;
}

/* === ul.toggle === */
.toggle{
    position: fixed;
    top: 5px;  
    right: 20px;
    width: 50px;   
    height: 50px;
    z-index: 30;
    cursor: pointer;
}

.toggle li{
    position: absolute;
    left: 5%;
    transform: translateY(-50%);
    height: 5px;  width: 90%;
    background: rgb(145, 145, 145);
    transition: .9s;
    padding: 0;
}

ul.toggle li:nth-of-type(1){
    top: 20%;
}


ul.toggle li:nth-of-type(2){
    top: 50%;
}


ul.toggle li:nth-of-type(3){
    top: 80%;
}

ul.toggle.active li:nth-of-type(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}


ul.toggle.active li:nth-of-type(2){
    left: -100%;
    opacity: 0;
}


ul.toggle.active li:nth-of-type(3){
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
} 

/* === sidebar === */
.sidebar{
    position: fixed;
    top: 0;  left: -670px;
    background: var(--color-bg-sidebar);
    width: 80vw;   height: 100vh;
    box-sizing: border-box;
    padding: 50px 40px;
    margin: 0 auto;
    text-align: center;
    transition: .9s;
    z-index: 10;
}


.sidebar.active {
    left: 0;
}

.sidebar ul{
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 60px;
}


.sidebar ul li{
    display: block;
}


.sidebar ul li a{
    display: inline-block;
    position: relative;
    text-decoration: none;  
    text-transform: uppercase;
    color: var(--color-font);
    width: 100%;  
    padding: 20px 0;
    box-sizing: border-box;
    font-size: 20px;
}


.sidebar ul li:hover a{
    color: var(--color-logo-orange);
    transition: .2s;
}  

/* === SITE SECTION - HOME === */
#home.container {
    margin-top: -80px;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 180%;
}

#home .wrap {
    padding: 450px 30px 0;
    margin-bottom: 50px;
}

.intro-slogan {
    margin-bottom: 5rem ;
}

.intro-slogan h1 {
    margin-top: 0;
    font-style: italic;
    font-size: 2.8rem;
}

.intro-slogan h2 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
}

#home .card {
	background-color: rgb(238, 238, 238);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
    z-index: 9;
    position: relative;
}

#home .card:active,
#home .card:focus,
#home .card:hover {
    transform: scale(1.2);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    z-index: 10;
    transition: .5s;
}

#home .card h2 {
    font-size: 1.5rem;
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;
}

#home .card.webdev h2 span {
    position: absolute;
    top: 50px;
    left: 40px;
    font-size: 1.2rem;
}

#home .card p {
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
    line-height: 1.5;
}

#home .card > a {
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: .5rem 1.5rem;
    background: #000;
    color: #fff;
	backdrop-filter: blur(5px);    
    transition: .5s;
}

#home .card:active > a,
#home .card:focus > a,
#home .card:hover > a {
    background-color: rgb(255, 177, 31);
    color: #000;
    transition: .5s;
}

/* === SITE SECTION - ABOUT === */
#about.container {
    background-color: rgb(248, 248, 248);
    padding-top: 80px;
}

#about h1,
#about h2 {
    text-align: center;
    padding: 1rem 0;
}

#about p {
    padding: 3rem 0 1rem;
}

#about .card {
    height: 320px;
    text-align: center;
    background: rgb(255, 255, 255);
    margin-bottom: 5rem;
}

#about .card:hover .filter {
    filter: brightness(20%);
}

#about .card:active,
#about .card:focus,
#about .card:hover {
    background: rgb(255, 184, 31);
}

#about .card h3 {
    font-style: italic;
}

#about .card p {
    height: 150px;
    padding: 2rem 1rem;
    line-height: 1.5;
}

#about .card:last-child img {
    margin-top: 15px;
}

/* === SITE SECTION - CONTACT === */

#contact.container {
    background: rgb(231, 231, 231);
    padding: 80px 0;
}

#contact ul {
    margin: 0 3rem 2rem 0;
    line-height: 1.5;
    font-size: 1.3rem;
}

#contact .contact-data .contact.company ul li:first-child {
    font-size: 1rem;
    font-weight: bold;
}

#contact .contact-data h1 {
    margin-bottom: 5rem;
}

#contact .contact-data .contact {
    margin-right: 3rem;
    justify-content: start;
    position: relative;
}

#contact .contact-data .contact p {
    color: rgb(95, 95, 95);
    position: absolute;
    transform: rotate(-90deg);  
    padding-bottom: .5rem;  
    border-bottom: 1px solid var(--color-logo-orange);
}

#contact .contact-data .contact.company p {
    top: 2rem;
    left: -80px;
    width: 5.5rem;
    padding-left: .8rem;
}

#contact .contact-data .contact.address p {
    top: 3rem;
    left: -104px;
    width: 8.5rem;
    padding-left: 2.8rem;
}

/* === contact form === */
#contact .form {
    width: 100%;
    padding: 40px;
    padding-top: 0;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

#contact .form h2 {
    text-align: center;
    padding: 30px 0;
}

#contact .input-box {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 1.2rem;
}

input[type=text], input[type=email], input[type=tel], textarea {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgb(236, 236, 236);
    outline: none;
    resize: none;
}

#contact .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    transition: .5s;
    color: #666;
}

#contact .input-box input:focus ~ span,
#contact .input-box input:valid ~ span,
textarea:focus ~ span,
textarea:valid ~ span {
    font-size: .8rem;
    transform: translateY(-25px);
}

#contact .input-box input:focus,
#contact .input-box input:valid,
textarea:focus,
textarea:valid { 
    border-bottom: 2px solid rgb(240, 213, 93);
}

input[type=submit] {
    display: block;
    margin: 40px auto;
    margin-bottom: 0;
    text-transform: uppercase;
    padding: 28px 50px;
    border: none;
    border-radius: 0 30px 30px 30px;
    cursor: pointer;
    transition: .3s;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

input[type=submit]:hover {
    background-color: var(--color-logo-orange);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: .3s;
}

/* === SITE FOOTER === */
.site-footer {
    background: rgb(255, 255, 255);

}

.site-footer .flex {
    justify-content: space-between;
    gap: 20px;
    padding: 40px 30px;
    font-size: .9rem;
    line-height: 1.3;
}

.site-footer ul.company-address li:first-child {
    font-weight: 600;    
}

.site-footer ul.navigation li {
    position: relative;
}

.site-footer ul.navigation li::after {
    content: " ";
    position: absolute;
    background-color: var(--color-font);
    height: 1px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: .3s;
}

.site-footer ul.navigation li:hover:after {
    width: 100%;
}

.site-footer .copyright {
    padding: 0;
    margin: 0 auto;
    font-size: .7rem;
    opacity: .8;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    #site-nav-hamburger,
    .sidebar {
        display: none;
    }

    header.container {
        height: 60px;
    }

    header a img {
        width: 40px;
    }

    header ul li {
        padding: 22px 10px;
    }

    header ul li a {
        font-size: .8rem;
    }

    #home .wrap {
        padding: 310px 30px 0;
    }

    .intro-slogan {
        margin-bottom: 3rem;
    }

    .intro-slogan h1 {
        font-size: 2rem;
    }

    .intro-slogan h2 {
        font-size: 1.2rem;
    }

    #about .wrap {
        padding: 0 30px 50px;
    }

    #about .card {
        margin-bottom: 1rem;
    }

    #contact .form {
        padding-top: 40px;
    }

}

@media screen and (max-width: 800px) {
    header .wrap ul.contact,
    #contact .contact-data .contact p,
    #site-nav-hamburger,
    .sidebar {
        display: none;
    }

    #home .wrap {
        padding-top: 290px;
    }

    #contact .wrap {
        padding: 0 30px;
    }

    #contact .form {
        width: 90%;
        padding: 20px;
    }
}

@media screen and (max-width: 600px) {
    header .wrap {
        height: 60px;
    }

    header .wrap ul.contact,
    header .wrap nav {
        display: none;
    }

    #site-nav-hamburger,
    .sidebar {
        display: initial;
    }

    h3 {
        font-size: 1rem;
    }

    p,
    #contact ul,
    #contact .contact-data .contact.company ul li:first-child,
    #contact .input-box {
        font-size: .8rem;
    }

    #home .wrap {
        padding-top: 240px;
    }

    #home .wrap {
        padding-top: 187px;
    }

    .intro-slogan h1,
    #about h1,
    #contact h1 {
        font-size: 1.5rem;
    }

    #about h1 {
        margin: 0;
    }

    .intro-slogan h2,
    #about h2,
    #contact .form h2,
    input[type=submit],
    .site-footer .flex {
        font-size: .8rem;
    }

    #about h2 {
        line-height: 1.5rem;
    }

    #about p {
        padding: 2rem 0 1rem;
    }

    #contact .contact-data h1 {
        margin-bottom: 3rem;
    }

    .map  iframe {
        max-width: 400px;
    }

    .site-footer .flex {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .site-footer .site-logo {
        margin-right: 0;
    }

}

@media screen and (max-width: 400px) {
    .map  iframe {
        max-width: 320px;
    }
}