/* === SITE SECTION - ABOUT === */
@import 'about';

#about {
    .wrap-sm {
        position: relative;
        display: grid;
        grid-template-columns: [col-1] 2fr [col-2] 2fr [col-3] 2fr [col-4] 2fr;
        grid-template-rows: [row-1] 1fr [row-2] 2fr [row-3] 2fr;

        @include breakpoint($bp: 1300px) {
            grid-template-rows: [row-1] 1fr [row-2] 2fr [row-3] 1fr;
        }

        @include breakpoint($bp: 900px) {
            grid-template-columns: [col-1] 2fr [col-2] 2fr [col-3] 2fr [col-4] 2fr [col-5] 2fr;
        }

        @include lg {
            grid-template-columns: [col-1] 1fr;
            grid-template-rows: [row-1] .2fr [row-2] .7fr [row-3] .2fr [row-4] 1fr;
            margin-bottom: 3%;
        }
    
        .line {
            width: 5px;
            height: 140px;
            background-color: $color-logo-green;
            position: absolute;
            top: -80px;
            left: 0;
            z-index: 1;
        }

        h1 {
            font-size: $font-size-lg;
            font-weight: $font-weight-xxl;
            text-align: left;
            grid-column: 1 / span 2;
            grid-row: 1 / span 1;

            @include xl {
                font-size: 1.8rem;
            }

            @include breakpoint($bp: 900px) {
                grid-column: 1 / span 3;
            }    

            @include lg {
                grid-column: 1 / span 1;
                grid-row: 1 / span 1;
            }  
            
            @include sm {
                font-size: 1.15rem;
            }

            span {
                font-family: 'Poppins', sans-serif;
                font-size: 4.5rem;
                -webkit-text-stroke: 1px $color-logo-green;
                -webkit-text-fill-color: transparent;
                font-weight: $font-weight-xxl;
                padding: 0 15px;

                @include xl {
                    font-size: 3rem;
                }  
                
                @include sm {
                    font-size: 2.3rem;
                    padding: 0 10px;
                }    
            }
        }

        p {
            font-size: $font-size-md;
            font-weight: $base-font-weight;
            line-height: $line-heigh-md;
            padding: 4rem 15px;
            grid-column: 1 / span 2;
            grid-row: 2 / span 2;

            @include xl {
                font-size: 1.2rem;
                padding-top: 2rem;
            }

            @include breakpoint($bp: 900px) {
                grid-column: 1 / span 3;
            }    

            @include lg {
                grid-column: 1 / span 1;
                grid-row: 2 / span 1;
            }    

            @include sm {
                font-size: $base-font-size;
                padding-bottom: 2rem;
            }

        }

        .rectangle {
            width: 90%;
            background: linear-gradient(90deg, rgba(99,141,20,1) 0%, rgba(152,186,56,1) 32%, rgba(186,228,68,1) 69%, rgba(248,248,248,1) 100%);
            grid-column: 3 / span 2;
            grid-row: 1 / span 2;
            justify-self: end;

            @include breakpoint($bp: 1300px) {
                height: 80%;
            }

            @include breakpoint($bp: 900px) {
                grid-column: 4 / span 2;
                height: 60%;
            }   
            
            @include lg {
                grid-column: 1 / span 1;
                grid-row: 3 / span 2;
            } 
            
            @include sm {
                height: 50%;
            }

        }

        img {
            width: 80%;
            border-radius: 290px 0 0 290px;
            grid-column: 3 / span 2;
            grid-row: 2 / span 2;
            justify-self: end;
            margin-top: -9%;
            position: relative;
            z-index: 2;

            @include breakpoint($bp: 900px) {
                grid-column: 4 / span 2;
            }
            
            @include lg {
                grid-column: 1 / span 1;
                grid-row: 4 / span 1;
                margin-top: 0;
                width: 70%;
            }    

        }
    
    }

    .wrap-sm:nth-child(2),
    .wrap-sm:last-child {
        .line {
            height: 240px;
            top: -180px;
            left: calc(100% - 5px);
        }

        h1 {
            text-align: right;
            grid-column: 3 / span 2;

            @include breakpoint($bp: 900px) {
                grid-column: 3 / span 3;
            }  
            
            @include lg {
                grid-column: 1 / span 1;
                grid-row: 1 / span 1;
            }

        }

        p {
            grid-column: 3 / span 2;

            @include breakpoint($bp: 900px) {
                grid-column: 3 / span 3;
            }   
            
            @include lg {
                grid-column: 1 / span 1;
                grid-row: 2 / span 1;
            }


        }

        .rectangle {
            grid-column: 1 / span 2;
            justify-self: start;

            @include lg {
                grid-column: 1 / span 1;
                grid-row: 3 / span 2;
            }

        }

        img {
            border-radius: 0 290px 290px 0;
            grid-column: 1 / span 2;
            justify-self: start;

            @include lg {
                grid-column: 1 / span 1;
                grid-row: 4 / span 1;
            }

        }
    }

    .wrap-sm:nth-child(3) {
        .line {
            height: 240px;
            top: -180px;
        }
    }
}