/* === SITE SECTION - CONTACT === */
@import 'breakpoints';

#contact {
    h1 {
        font-size: $font-size-xl;
        color: $color-font-light;
        padding: $padding-xxl;
        margin-top: $base-font-size*8;
        text-align: center;

        span {
            color: $color-hover-highlight;
            font-weight: $font-weight-lg;
        }
    }

    h3 {
        color: $color-font-light;
        font-size: $font-size-lg;
        font-weight: $font-weight-lg;
        line-height: $line-heigh-md;
        padding: $padding-xxl;
    }

    p {
        padding: $padding-xxl;
        font-size: $font-size-md;
        color: $color-font-light;
        line-height: $line-heigh-md;
        font-weight: $font-weight-sm;

        @include md {
            padding: 2rem 0 1rem;
            font-size: $base-font-size;
        }

        span {
            a {
                font-size: $font-size-md;
                color: $color-hover-highlight;
            }

            &:hover, &:active, &:focus {
                a {
                    color: darken($color: $color-hover-highlight, $amount: 20);
                }
            }   
        }
    }

    &.container {
        margin-top: -80px;
        background: $color-bg-about;
        padding-top: 80px;

        @include breakpoint($bp: 720px) {
            background-size: 300%;
            background-color: rgba(202,202,202,255);
        }
    }

    .wrap {
        height: 100%;
        margin-bottom: 100px;

        @include md {
            margin-bottom: 0;
        }
    }

    .article-header__tools {
        width: 100%;
        margin: 0 $margin-center-horizontal;

        ul.social-share__list {
            text-align: center;

            li.social-share__item {
                display: inline-block;
                margin: 0 $margin-sm*2;

                i {
                    filter: invert(1);
                }

                &:hover, &:active, &:focus {
                    i {
                        color: darken($color: $color-font-light, $amount: 50);
                    }
                }   

            }

        }
    }

    .article-content {
        margin-bottom: $base-margin*8;
    }
}