/* === SITE FOOTER === */
@import 'breakpoints';

.site-footer {
    width: 100vw;
    color: $color-font-light;
    background: linear-gradient(0deg, #161616dc 0%, $color-bg-about 100%), url(../img/footer-bg.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
    overflow: hidden;

    .site-footer__wrap {
        padding: 0 $base-padding*3;
        width: 98%;
        max-width: 1400px;

        &.flex {
            justify-content: space-between;
        }
    }

    .flex {
        justify-content: space-between;
        gap: 20px;
        padding: 0 $padding-xl;
        font-size: .9rem;
        line-height: 1.3;

        @include lg {
            .site-logo {
                width: 100%;
                text-align: center;
            }
        }

        @include md {
            font-size: $base-font-size - .2rem;
            text-align: center;
            flex-direction: column;
            align-items: center;    
        }
    }

    .site-footer__logo {
        @include md {
            margin-right: 0;
        }

        @include sm {
            img {
                width: 200px;
            }
        }

    }

    ul.site-footer__company-address {
        li:first-child {
            font-weight: $font-weight-xl;    
        }
    }

    ul.site-footer__nav {
        li.site-footer__nav-item {
            position: relative;

            a.site-footer-item-link { 
                color: $color-font-light;

                &:hover, &:active, &:focus  {
                    color: darken($color: $color-font-light, $amount: 20);
                }   

                @include lg {
                    font-size: $base-font-size - .1rem;
                }

                @include md {
                    font-size: $base-font-size - .2rem;
                }
            }
        }
    }

    .copyright {
        flex-direction: row;
        justify-content: center;
        padding: 10px 0;

        padding: $padding-xl;
        margin: $margin-center-horizontal;
        padding-bottom: $padding-xxl;
        font-size: $base-font-size;
        opacity: .8;
        text-align: center;
        width: 100%;

        a {
            text-decoration: underline;
            font-size: $base-font-size;
            color: $color-font-light;

            &:active, &:focus, &:hover {
                color: darken($color: $color-font-light, $amount: 20);
            }
        }
    }
}