/* === SITE SECTION - HOME === */
@import 'breakpoints';

#home {
    &.container {
        margin-top: -80px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.9)), url(../img/np-fitness.jpg) no-repeat, url(../img/np_tech.jpg) no-repeat;
        background-position-x: center, right, left;
        background-size: 100%, 78%, 92%;
        overflow: hidden;

        @media (min-width: 921px) {
            height: min(900px, 950px);
        }

        @include breakpoint($bp: 920px) {
            min-height: 100vh;
            height: auto;
        }

        @media (max-width: 1000px) and (min-height: 1000px) {
            min-height: auto;
        }
    }

    .wrap {
        padding: 0;
    }

    #intro-slider {
        width: 100%;
        height: 100%;
        // padding: 0 20px;
        background: linear-gradient(0deg, rgba(0,0,0,0) 75%, rgba(0,0,0,1) 100%), linear-gradient(63deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 91%), url(../img/np_tech.jpg) no-repeat;
        background-size: 113%;
        background-position: left 143% center;
        position: relative;

        input {
            -webkit-appearance: none;
            width: 100%;
            background: none;
            z-index: 10;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 2px;
                height: min(900px, 950px);
                background: transparent;
                cursor: col-resize;
            }
        }

        .image-slider {
            position: absolute;
            top: 0;
            right: 0;
            width: 60%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0,0,0,0) 75%, rgba(0,0,0,1) 100%), linear-gradient(250deg, rgba(0,0,0,0) -35%, rgba(0,0,0,1) 86%), url(../img/np-fitness.jpg) no-repeat;
            background-position: right center;
            background-size: cover;
            // border-left: 2px solid #fff;
            clip-path: polygon(40% 0, 100% 0, 100% 100%, 0% 100%);
            transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

    }

    .intro-slogan {
        &.pos-abs {
            z-index: 20;
        }

        h1 {
            font-size: $font-size-xl;
            text-transform: uppercase;
            font-weight: $font-weight-xxl;
            letter-spacing: .1rem;
    
            // font-size: 3.5rem;
            // font-weight: $font-weight-lg;
            color: $color-font-light;
            margin-bottom: 1rem;
            transform: translateY(3rem);
            transition: 2s cubic-bezier(0.39, 0.575, 0.565, 1);

            @media (min-width: 1400px) {
                display: inline-block;
            }

            @include xl {
                font-size: $font-size-lg;
            }

            @include sm {
                font-size: 1.8rem;
            }    
        }

        h2 {
            font-style: italic;
            color: $color-font-light;
            font-weight: $font-weight-sm;   
            margin-bottom: 3rem; 
            opacity: 0; 
            transition: 3s cubic-bezier(0.39, 0.575, 0.565, 1);

            @include xl {
                font-size: 1.2rem;
            }

            @include sm {
                font-size: 1rem;
            }
        }

        .btn {
            display: block;
        }

        &#intro-tech.pos-abs {
            top: 15%;
            left: 35%;
        }

        &#intro-fitness.pos-abs {
            top: 50%;
            left: 55%;

            .cover {
                content: '';
                position: absolute;
                top: 32%;
                left: -5%;
                clip-path: polygon(0% 0, 100% 0, 78% 100%, 0% 100%);
                width: 0%;
                height: 90%;
                background: linear-gradient(124deg, rgb(1, 4, 10) 30%, rgba(0,0,0,1) 100%);
                z-index: 30;
                visibility: hidden;
                transition: .8s cubic-bezier(0.39, 0.575, 0.565, 1);
            }
        }

    }
}