/* === SITE SECTION - HOME === */
@import 'breakpoints';

#home {
    &.container {
        height: calc(100vh - 80px);
        min-height: 700px;
        max-height: 1080px;
        background-image: none;
        background-color: $color-bg-smartmedic;

        @include tablet {
            max-height: 1200px;
        }

        @include sm {
            position: sticky;
            z-index: 1;    
        }
    }

    .wrap {
        height: 100%;
        display: grid;
        grid-template-columns: [col-1] 60% [col-2] 40%;
        grid-template-rows: [row-1] 100%;
        align-items: center;
        justify-content: center;

        @include breakpoint($bp: 900px) {
            grid-template-rows: [row-1] 60% [row-2] 40%;
        }

        @media (min-width: 901px) and (max-width: 999px) and (min-height: 1201px) {
            display: initial;
        }
    }

    .col-1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
        padding: 20px;
        align-items: center;
        justify-items: center;

        @include breakpoint($bp: 1200px) {
            padding: 20px 0;
        }

        @media (max-width: 900px) and (max-height: 900px) {
            margin-top: 120px;
        }

        @include breakpoint($bp: 900px) {
            grid-column: 1 / span 2;
            grid-row: 1 / span 1;
        }

        @include sm {
            margin-top: 0;
        }
    }

    h1 {
        color: $color-font;
        font-size: 2.5rem;
        font-weight: $font-weight-xxl;
        letter-spacing: .1rem;
        padding-top: 60px;
        margin: 0;
        text-align: center;

        @include breakpoint($bp: 1350px) {
            font-size: 2.2rem;
        }

        @include breakpoint($bp: 1200px) {
            font-size: $font-size-lg;
        }

        @include xl {
            font-size: 1.8rem;
        }

        @include md {
            font-size: 1.3rem;
            letter-spacing: .02rem;
        }

        @media (max-width: 600px) and (max-height: 900px) {
            padding-top: 80px;
        }

        @include sm {
            font-size: 1.1rem;
            margin-top: 20px;
        }

        @include breakpoint($bp: 320px) {
            font-size: 1.3rem;
            margin-top: 0;
        }
    }

    h2 {
        color: $color-font-light;
        font-size: 18px;
        font-weight: $font-weight-sm;
        text-align: center;
        padding: 10px 0;

        @include md {
            font-size: $base-font-size;
        }

        @include sm{
            font-size: 0.8rem;
        }

        @include breakpoint($bp: 320px) {
            font-size: .8rem;
        }
    }

    h3 {
        color: $color-font-light;
        font-size: $font-size-lg;
        font-weight: $font-weight-lg;
        text-align: center;
        text-transform: uppercase;
        padding: 30px 0;
        letter-spacing: .05rem;
        line-height: $line-heigh-md;

        @include breakpoint($bp: 1350px) {
            font-size: 1.8rem;
        }

        @include md {
            font-size: $font-size-md;
        }

        @include sm {
            font-size: 1.3rem;
            padding: 20px 0;
        }

        @include breakpoint($bp: 320px) {
            font-size: $base-font-size;
        }
    }

    .line {
        background-color: $color-font;
        width: 5px;
        height: 120px;
        margin: 0 auto;
        margin-bottom: 30px;

        @media (max-width: 900px) and (max-height: 900px) {
            width: 3px;
            height: 70px;
        }

        @include breakpoint($bp: 900px) {
            height: 50px;
        }
    }

    p {
        color: $color-font;
        font-size: $font-size-md;
        font-weight: $base-font-weight;
        text-align: center;
        line-height: $line-heigh-md;

        @include breakpoint($bp: 1350px) {
            font-size: 1.3rem;
        }

        @include xl {
            font-size: 1.2rem;
        }

        @media (max-width: 900px) and (max-height: 900px) {
            font-size: $base-font-size;
            text-align: left;
        }

        @include sm {
            font-size: .8rem;
            text-align: center;
        }
    }

    .wrap-sm {
        margin: 80px;
        text-align: center;

        @media (max-width: 900px) and (max-height: 900px) {
            text-align: left;
            margin: 80px 0;
        }

        @include breakpoint($bp: 900px) {
            margin: 80px 0;
        }

        @include sm {
            margin: 40px 0;
            text-align: center;
        }

        .btn {
            border: 3px solid $color-font;
            background-color: transparent;
            color: $color-font;

            @media (max-width: 900px) and (max-height: 900px) {
                font-size: $base-font-size;
            } 
            
            @include sm {
                font-size: .8rem;
            }

            &:focus, &:hover {
                border: 3px solid $color-font-light;
                color: $color-font-light;
            }
    
            a {
                font-size: $font-size-md;
                font-weight: $font-weight-lg;
            }
        }    
    }

}

