/* === SITE SECTION - HOME === */
@import 'home';

#home {
    &.container {
        height: 100vh;
        background-image: none;
    }

    .wrap {
        position: relative;
        margin-top: 80px;
        height: 80%;
        background-image: url(../img/bg_motorsport.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: 57%;
        

        h2 {
            font-size: $base-font-size;
            font-weight: $base-font-weight;
            font-style: italic;
            position: absolute;
            top: 53%;
            left: 6%;
        }

        .wrap-sm:first-of-type {
            display: block;
            text-align: center;
            padding: 40px;
            backdrop-filter: blur(4px);
            position: absolute;
            bottom: 13%;
            left: calc(50% - 142px);
        }

        .btn {
            background-color: $color-logo-green;
            font-weight: $base-font-weight;
            color: $color-font-light;
        }

    }

    & > .wrap-sm {
        position: absolute;
        bottom: 20px;

        &:hover {
            opacity: 0.5;
        }
    }
}