/* === SITE HEADER === */
@import 'breakpoints';

header {
    &.container {
        height: 80px;
        background: transparent;
        position: sticky;
        top: 0;
        z-index: 999; 
        overflow: initial;
        transition: .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        
        @include xl {
            height: 60px;
        }

        &.scroll-active {
            background: $color-bg;
            box-shadow: 0 3px 1rem rgba(0,0,0,.1);
            height: 60px;

            a.site-logo {
                filter: invert(100%);
            }

            ul.main-nav {
                & > li {
                    &:active:not(:last-child), &:focus:not(:last-child), &:hover:not(:last-child) {
                        a {
                            font-weight: $font-weight-xl;
                            transition: .1s;
                        }
                    }
                }
            }

            .main-nav a {
                color: $color-font;
            }

            ul li {
                color: $color-font;
            }
        }
    } //checked

    .wrap {
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 5;

        @include md {
            height: 60px;
        }

        ul.contact {
            @include breakpoint($bp: 1200px) {
                display: none;
            }
        }

        nav {
            @include lg {
                display: none;
            }    
        }
    } //checked

    ul {
        li {
            color: $color-font-light;
            list-style-type: none;
            display: inline-block;
            padding: 15px 10px;

            i {
                padding-right: 5px;
            }

            a {
                padding: 32px $base-padding;
                color: $color-font-light;
                letter-spacing: .08rem;
            }

            @include xl {
                padding: 22px $base-padding;
            }
        }
    } //checked


    nav {
        text-transform: uppercase;

        ul.main-nav {
            & > li {
                &:active:not(:last-child), &:focus:not(:last-child), &:hover:not(:last-child) {
                    cursor: $base-cursor;
                    background-color: $color-font-light;
                    border-radius: 3px;
                    transition: $animation-hover;
    
                    a {
                        color: $color-font-hover;
                        transition: $animation-hover;
                        font-weight: $font-weight-lg;

                        // span.arrow {
                        //     transition: all .5s ease-out;
                                    
                        //     &::after {
                        //         border-top: 1px solid $color-font-light
                        //         ;
                        //         border-right: 1px solid $color-font-light;
                        //     }
                        // }      

                    }

                    // .drop-down {
                    //     li {
                    //         &:hover, &:focus {
                    //                 background-color: $color-logo-orange;
                    //         }
                            
                    //         &:hover, &:focus {
                    //             a {
                    //                 color: $color-font-light;
                    //             }
                    //         }

                    //         a {
                    //             color: $color-font;
                    //         }
                    //     }
                    // }
                } 
                
                &:last-child {
                    a {
                        font-size: .8rem;
                    }

                    a.en {
                        opacity: .5;
                    }
                    cursor: $base-cursor;    
                    a:hover {
                        opacity: 1;
                    }
                }   
            }

            // span.arrow.active {
            //     &::after {
            //         transform: rotate(-45deg);
            //         transition: all .5s;
            //     }
            // }

            // li.division {
            //     position: relative;
                
            //     span {
            //         padding-left: 5px;
            //     }
            // }
        } 

        // ul.drop-down {
        //     position: absolute;
        //     top: 80px;
        //     left: 0;
        //     background-color: $color-bg;

        //     @include xl {
        //         top: 60px;
        //     }
            
        //     li {
        //         display: block;

        //         a {
        //             display: block;
        //             padding: 10px;
        //         }
        //     }
        // }
    } //checked
}

