/* === SITE HEADER === */
@import 'breakpoints';

header {
    &.container {
        height: 80px;
        background: $color-bg-header;
        position: sticky;
        top: 0;
        z-index: 20; 
        overflow: initial;
        
        @include xl {
            height: 60px;
        }
    }

    .wrap {
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 5;

        @include md {
            height: 60px;
        }

        ul.contact {
            @include breakpoint($bp: 1200px) {
                display: none;
            }
        }

        nav {
            @include lg {
                display: none;
            }    
        }
    }

    ul {
        li {
            list-style-type: none;
            display: inline-block;
            padding: 32px 10px;

            i {
                padding-right: 5px;
            }

            a {
                padding: 32px $base-padding;
            }

            @include xl {
                padding: 22px $base-padding;
            }
        }
    }


    nav {
        text-transform: uppercase;

        ul.main-nav {
            & > li {
                &:active:not(:last-child), &:focus:not(:last-child), &:hover:not(:last-child) {
                    cursor: $base-cursor;
                    background-color: $color-logo-orange;
                    transition: 0.4s;
    
                    a {
                        color: $color-font-light;

                        span {
                            filter: invert(1);
                        }
                    }

                    .drop-down {
                        li {
                            &:hover, &:focus {
                                    background-color: $color-logo-orange;
                            }
                            
                            &:hover, &:focus {
                                a {
                                    color: $color-font-light;
                                }
                            }

                            a {
                                color: $color-font;

                                span {
                                    filter: invert(0);
                                }            
                            }
                        }
                    }
                } 
                
                &:last-child {
                    a {
                        font-size: .8rem;
                    }

                    a.en {
                        color: $color-shadow;
                    }
                    cursor: $base-cursor;    
                    a:hover {
                        color: $color-font;
                    }
                }   
            }

            li.division {
                position: relative;
                
                span {
                    padding-left: 5px;
                }
            }
        } 

        ul.drop-down {
            position: absolute;
            top: 80px;
            left: 0;
            background-color: $color-bg;

            @include xl {
                top: 60px;
            }
            
            li {
                display: block;

                a {
                    display: block;
                    padding: 10px;
                }
            }
        }
    }

    @include xl {
        a {
            img {
                width: 40px;
            }
        }    
    }
}

