@import 'navigation-motorsport';

header {
    nav {
        ul.main-nav {
            li {
                &:last-child {
                    a.cz {
                        color: $color-shadow;
                    }

                    a.en {
                        color: $color-font;
                    }
                }   
            }
        } 
    }
}

.sidebar {
    ul.main-nav {
        & > li {
            span.arrow {
                &::after {
                    @include sm {
                        left: 86%;
                    }
                }
            }
        }
    }
}
