/* === SITE HEADER === */
@import 'navigation';

header {
    ul {
        li {
            font-weight: $font-weight-lg;
        }
    }
    
    nav {
        ul.main-nav {
            & > li {
                &:active:not(:last-child), &:focus:not(:last-child), &:hover:not(:last-child) {
                    background-color: $color-logo-green;

                    .drop-down {
                        li {
                            &:hover, &:focus {
                                    background-color: $color-logo-green;
                            }
                        }
                    }
                }
            } 
        }
    }
}
