/* === SITE SECTION - REFERENCE === */
@import 'breakpoints';

#reference {
    &.container {
        padding-top: 80px;
    }

    .wrap {
        margin-bottom: 50px;
    }

    h1 {
        display: inline-block;
        color: $color-font;
        font-size: $font-size-md;
        text-transform: uppercase;
        font-weight: $font-weight-xxl;
        letter-spacing: .05rem;
        margin-right: 5rem;
        position: relative;

        // &::after {
        //     content: '';
        //     width: 35px;
        //     height: 5px;
        //     background-color: $color-hover;
        //     position: absolute;
        //     bottom: -5px;
        //     left: 0;
        // }

        @include lg {
            margin-bottom: 50px;
        }

        @include breakpoint($bp: 650px) {
            margin-right: 0;
        }

        @include md {
            font-size: $font-size-md;
        }
    }
    
    .card {
        height: 110px;
        background: $color-bg;
        margin: 0;

        &:not(:last-of-type) {
            border-right: 1px solid $color-underline;

            @include xl {
                border-right: none;
            }

            @include breakpoint($bp: 650px) {
                border-right: none;
                border-bottom: 1px solid $color-underline;
            }
        }

        img {
            object-fit: contain;

            &.praga {
                margin-top: -50px;
                margin-left: 30px;
            }

            &.brainspin {
                margin-left: 30px;
            }
        }
    }
}