/* === SITE SECTION - ABOUT === */
@import 'base';

#work {
    &.container {
        background-image: none;
        background-color: $color-bg-smartmedic-work;
        color: $color-font-light;
        position: relative;
        z-index: 2;

        @include sm {
            z-index: 3;
        }
    }

    .wrap {
        padding-bottom: 50px;
    }

    h1 {
        font-size: $font-size-lg;
        font-weight: $font-weight-lg;
        padding-top: 80px;
        padding-bottom: 2rem;
        margin: 0;
        text-align: left;

        @include breakpoint($bp: 1350px) {
            font-size: 2.2rem;
        }

        @include breakpoint($bp: 1200px) {
            font-size: $font-size-lg;
        }

        @include xl {
            font-size: 1.8rem;
        }

        @include md {
            font-size: 1.3rem;
            letter-spacing: .02rem;
        }

        @include sm {
            font-size: 1.1rem;
        }

        @include breakpoint($bp: 320px) {
            font-size: 1.3rem;
            margin-top: 0;
        }
    }

    h2 {
        font-size: $font-size-md;
        font-weight: $font-weight-lg;
        text-align: left;
        padding: 20px 0;

        @include md {
            font-size: 1.1rem;
            padding: 10px 0;
        }

        @include sm{
            font-size: 0.8rem;
        }

        @include breakpoint($bp: 320px) {
            font-size: .8rem;
        }
    }

    p {
        font-size: 22px;
        font-weight: $base-font-weight;
        text-align: left;
        line-height: $line-heigh-md;
        padding: 2rem 0;

        @include breakpoint($bp: 1350px) {
            font-size: 1.3rem;
        }

        @include md {
            font-size: $base-font-size;
            padding: 1rem 0;
        }

        @include sm {
            font-size: .8rem;
        }
    }

    .flex {
        align-items: start;
    }

    .card {
        min-height: 300px;
        height: auto;

        @include lg {
            width: 80%;
            min-height: 200px;
            padding: 20px 10px;
        }
        
        @include md {
            min-height: 150px;
        }

        @include sm {
            padding: 10px;
        }

    }
}

  
