@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap);
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 100%;
  font-weight: 400;
  line-height: 1;
  color: #11141a;
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
  scroll-behavior: smooth;
}

/* === GENERAL === */
body {
  width: 100vw;
  margin: 0 auto;
}

a {
  color: #11141a;
  text-decoration: none;
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 600px) {
  h3 {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  p {
    font-size: .8rem;
  }
}

ul li {
  list-style-type: none;
}

.container {
  width: 100vw;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrap {
  padding: 0 30px;
  width: 98%;
  max-width: 1400px;
}

@media (max-width: 400px) {
  .wrap {
    padding: 0 20px;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 280px;
  padding: 30px 10px;
  margin: 10px;
  border-radius: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.site-logo {
  margin: auto 0;
  margin-right: 30px;
}

.btn {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  background-color: #638d14;
  letter-spacing: 0.08em;
  padding: 20px 26px;
}

@media (max-width: 600px) {
  .btn {
    padding: 16px 18px;
  }
}

@media (max-width: 370px) {
  .btn {
    padding: 14px 16px;
  }
}

span.arrow {
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

span.arrow::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 45%;
  right: 13px;
  width: 7px;
  height: 7px;
  border-top: 1px solid #11141a;
  border-right: 1px solid #11141a;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 1024px) {
  span.arrow::after {
    top: 41%;
    right: 11px;
  }
}

.flip {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .2s;
  transition: .2s;
}

/* === ul.toggle === */
.toggle {
  position: fixed;
  top: 5px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 30;
  cursor: pointer;
  display: none;
}

.toggle li {
  position: absolute;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 5px;
  width: 90%;
  background: #919191;
  -webkit-transition: .9s;
  transition: .9s;
  padding: 0;
}

@media (max-width: 800px) {
  .toggle {
    display: initial;
  }
}

ul.toggle li:nth-of-type(1) {
  top: 20%;
}

ul.toggle li:nth-of-type(2) {
  top: 50%;
}

ul.toggle li:nth-of-type(3) {
  top: 80%;
}

ul.toggle.active li:nth-of-type(1) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

ul.toggle.active li:nth-of-type(2) {
  left: -100%;
  opacity: 0;
}

ul.toggle.active li:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

/* === sidebar === */
.sidebar {
  position: fixed;
  top: 0;
  left: -670px;
  background: white;
  width: 80vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px 40px;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: .9s;
  transition: .9s;
  z-index: 10;
  display: none;
}

.sidebar.active {
  left: 0;
}

.sidebar ul.main-nav {
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 60px;
}

.sidebar ul.main-nav > li {
  display: block;
}

.sidebar ul.main-nav > li span.arrow {
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.sidebar ul.main-nav > li span.arrow::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 35px;
  left: 65%;
  width: 7px;
  height: 7px;
  border-top: 1px solid #11141a;
  border-right: 1px solid #11141a;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 400px) {
  .sidebar ul.main-nav > li span.arrow::after {
    left: 80%;
  }
}

.sidebar ul.main-nav > li span.arrow.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.sidebar ul.main-nav > li.inactive {
  display: none;
}

.sidebar ul.main-nav > li:active:not(:last-child), .sidebar ul.main-nav > li:focus:not(:last-child), .sidebar ul.main-nav > li:hover:not(:last-child) {
  background-color: #ff931f;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.sidebar ul.main-nav > li:active:not(:last-child) a, .sidebar ul.main-nav > li:focus:not(:last-child) a, .sidebar ul.main-nav > li:hover:not(:last-child) a {
  color: white;
}

.sidebar ul.main-nav > li:active:not(:last-child) a span.arrow, .sidebar ul.main-nav > li:focus:not(:last-child) a span.arrow, .sidebar ul.main-nav > li:hover:not(:last-child) a span.arrow {
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.sidebar ul.main-nav > li:active:not(:last-child) a span.arrow::after, .sidebar ul.main-nav > li:focus:not(:last-child) a span.arrow::after, .sidebar ul.main-nav > li:hover:not(:last-child) a span.arrow::after {
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.sidebar ul.main-nav > li:active:not(:last-child) .drop-down li:hover a, .sidebar ul.main-nav > li:active:not(:last-child) .drop-down li:focus a, .sidebar ul.main-nav > li:focus:not(:last-child) .drop-down li:hover a, .sidebar ul.main-nav > li:focus:not(:last-child) .drop-down li:focus a, .sidebar ul.main-nav > li:hover:not(:last-child) .drop-down li:hover a, .sidebar ul.main-nav > li:hover:not(:last-child) .drop-down li:focus a {
  background-color: #ff931f;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.sidebar ul.main-nav > li:active:not(:last-child) .drop-down li a, .sidebar ul.main-nav > li:focus:not(:last-child) .drop-down li a, .sidebar ul.main-nav > li:hover:not(:last-child) .drop-down li a {
  color: #11141a;
  font-size: 20px;
}

.sidebar ul.main-nav > li:last-child {
  width: 100%;
  padding: 20px 0;
}

.sidebar ul.main-nav > li:last-child a {
  display: inline;
  font-size: .8rem;
  padding: 10px 5px;
}

.sidebar ul.main-nav > li a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #11141a;
  width: 100%;
  padding: 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
}

.sidebar ul.drop-down {
  background-color: white;
}

.sidebar ul.drop-down li a {
  font-size: 20px;
}

@media (max-width: 800px) {
  .sidebar {
    display: initial;
  }
}

/* === SITE HEADER === */
/* === SITE HEADER === */
header.container {
  height: 80px;
  background: rgba(255, 255, 255, 0.95);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
  overflow: initial;
}

@media (max-width: 1024px) {
  header.container {
    height: 60px;
  }
}

header .wrap {
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

@media (max-width: 600px) {
  header .wrap {
    height: 60px;
  }
}

@media (max-width: 1200px) {
  header .wrap ul.contact {
    display: none;
  }
}

@media (max-width: 800px) {
  header .wrap nav {
    display: none;
  }
}

header ul li {
  list-style-type: none;
  display: inline-block;
  padding: 32px 10px;
}

header ul li i {
  padding-right: 5px;
}

header ul li a {
  padding: 32px 10px;
}

@media (max-width: 1024px) {
  header ul li {
    padding: 22px 10px;
  }
}

header nav {
  text-transform: uppercase;
}

header nav ul.main-nav > li:active:not(:last-child), header nav ul.main-nav > li:focus:not(:last-child), header nav ul.main-nav > li:hover:not(:last-child) {
  cursor: pointer;
  background-color: #ff931f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header nav ul.main-nav > li:active:not(:last-child) a, header nav ul.main-nav > li:focus:not(:last-child) a, header nav ul.main-nav > li:hover:not(:last-child) a {
  color: white;
}

header nav ul.main-nav > li:active:not(:last-child) a span.arrow, header nav ul.main-nav > li:focus:not(:last-child) a span.arrow, header nav ul.main-nav > li:hover:not(:last-child) a span.arrow {
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

header nav ul.main-nav > li:active:not(:last-child) a span.arrow::after, header nav ul.main-nav > li:focus:not(:last-child) a span.arrow::after, header nav ul.main-nav > li:hover:not(:last-child) a span.arrow::after {
  border-top: 1px solid white;
  border-right: 1px solid white;
}

header nav ul.main-nav > li:active:not(:last-child) .drop-down li:hover, header nav ul.main-nav > li:active:not(:last-child) .drop-down li:focus, header nav ul.main-nav > li:focus:not(:last-child) .drop-down li:hover, header nav ul.main-nav > li:focus:not(:last-child) .drop-down li:focus, header nav ul.main-nav > li:hover:not(:last-child) .drop-down li:hover, header nav ul.main-nav > li:hover:not(:last-child) .drop-down li:focus {
  background-color: #ff931f;
}

header nav ul.main-nav > li:active:not(:last-child) .drop-down li:hover a, header nav ul.main-nav > li:active:not(:last-child) .drop-down li:focus a, header nav ul.main-nav > li:focus:not(:last-child) .drop-down li:hover a, header nav ul.main-nav > li:focus:not(:last-child) .drop-down li:focus a, header nav ul.main-nav > li:hover:not(:last-child) .drop-down li:hover a, header nav ul.main-nav > li:hover:not(:last-child) .drop-down li:focus a {
  color: white;
}

header nav ul.main-nav > li:active:not(:last-child) .drop-down li a, header nav ul.main-nav > li:focus:not(:last-child) .drop-down li a, header nav ul.main-nav > li:hover:not(:last-child) .drop-down li a {
  color: #11141a;
}

header nav ul.main-nav > li:last-child {
  cursor: pointer;
}

header nav ul.main-nav > li:last-child a {
  font-size: .8rem;
}

header nav ul.main-nav > li:last-child a.en {
  color: #c9c9c9;
}

header nav ul.main-nav > li:last-child a:hover {
  color: #11141a;
}

header nav ul.main-nav span.arrow.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all .5s;
  transition: all .5s;
}

header nav ul.main-nav li.division {
  position: relative;
}

header nav ul.main-nav li.division span {
  padding-left: 5px;
}

header nav ul.drop-down {
  position: absolute;
  top: 80px;
  left: 0;
  background-color: white;
}

@media (max-width: 1024px) {
  header nav ul.drop-down {
    top: 60px;
  }
}

header nav ul.drop-down li {
  display: block;
}

header nav ul.drop-down li a {
  display: block;
  padding: 10px;
}

@media (max-width: 1024px) {
  header a img {
    width: 40px;
  }
}

header.container {
  background: #282d3d;
}

header span.arrow::after {
  content: "";
  border-top: 1px solid #bdbdbd;
  border-right: 1px solid #bdbdbd;
}

header ul li {
  font-weight: 500;
}

header ul li a {
  color: #bdbdbd;
}

header nav ul.main-nav > li:last-child {
  color: #bdbdbd;
}

header nav ul.main-nav > li:active:not(:last-child), header nav ul.main-nav > li:focus:not(:last-child), header nav ul.main-nav > li:hover:not(:last-child) {
  background-color: #218aeb;
}

header nav ul.main-nav > li:active:not(:last-child) .drop-down li:hover, header nav ul.main-nav > li:active:not(:last-child) .drop-down li:focus, header nav ul.main-nav > li:focus:not(:last-child) .drop-down li:hover, header nav ul.main-nav > li:focus:not(:last-child) .drop-down li:focus, header nav ul.main-nav > li:hover:not(:last-child) .drop-down li:hover, header nav ul.main-nav > li:hover:not(:last-child) .drop-down li:focus {
  background-color: #218aeb;
}

.sidebar ul.main-nav > li:active:not(:last-child), .sidebar ul.main-nav > li:focus:not(:last-child), .sidebar ul.main-nav > li:hover:not(:last-child) {
  background-color: #218aeb;
}

.sidebar ul.main-nav > li:active:not(:last-child) .drop-down li:hover a, .sidebar ul.main-nav > li:active:not(:last-child) .drop-down li:focus a, .sidebar ul.main-nav > li:focus:not(:last-child) .drop-down li:hover a, .sidebar ul.main-nav > li:focus:not(:last-child) .drop-down li:focus a, .sidebar ul.main-nav > li:hover:not(:last-child) .drop-down li:hover a, .sidebar ul.main-nav > li:hover:not(:last-child) .drop-down li:focus a {
  background-color: #218aeb;
}

/* === SITE SECTION - HOME === */
#home.container {
  background-color: #282d3d;
  height: calc(100vh - 80px);
}

#home .wrap {
  height: 100%;
  padding-left: 50px;
}

#home .wrap .intro-slogan {
  margin-top: 350px;
  position: relative;
}

#home .wrap .intro-slogan h1 {
  color: rgba(40, 53, 78, 0.7);
  font-size: 244px;
  font-weight: 800;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  margin: 0;
}

#home .wrap .intro-slogan h2 {
  color: white;
  font-size: 2.8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2rem;
  position: absolute;
  bottom: 30px;
}

#home .wrap-sm {
  color: white;
}

#home .wrap-sm.flex {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-bottom: 70px;
}

#home .card {
  background-color: transparent;
  width: 250px;
  height: 240px;
  overflow: hidden;
  text-align: center;
}

#home .card:first-of-type h2 {
  text-align: left;
}

#home .card:nth-of-type(3) img {
  margin-top: 30px;
}

#home .card:nth-of-type(4) img {
  margin-top: 10px;
}

#home .card:active:not(:first-of-type), #home .card:focus:not(:first-of-type), #home .card:hover:not(:first-of-type) {
  -webkit-box-shadow: white 0px 1px 3px 1px;
          box-shadow: white 0px 1px 3px 1px;
  border: 1px solid white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#home .card h2 {
  text-align: center;
  font-style: italic;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 30px;
}

@media (max-width: 400px) {
  #home .card h2 {
    margin-top: 20px;
  }
}

#home .btn {
  background-color: #218aeb;
}

#home .btn:active, #home .btn:focus, #home .btn:hover {
  opacity: .9;
}

/* === SITE SECTION - ABOUT === */
/* === SITE SECTION - ABOUT === */
#about.container {
  background-color: #f8f8f8;
  padding-top: 80px;
}

#about h1 {
  text-align: center;
  padding: 1rem 0;
}

@media (max-width: 600px) {
  #about h1 {
    font-size: 1.5rem;
    margin: 0;
  }
}

#about h2 {
  text-align: center;
  padding-bottom: 3rem;
}

@media (max-width: 600px) {
  #about h2 {
    font-size: .8rem;
    line-height: 1.5;
  }
}

#about p {
  padding: 3rem 0 1rem;
}

@media (max-width: 600px) {
  #about p {
    padding: 2rem 0 1rem;
  }
}

#about .card {
  height: 320px;
  text-align: center;
  background: white;
  margin-bottom: 5rem;
}

#about .card:hover {
  background: #ffb11f;
}

#about .card:hover .filter {
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
}

#about .card h3 {
  font-style: italic;
}

#about .card p {
  height: 150px;
  padding: 2rem 1rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  #about .card p {
    height: 115px;
  }
}

@media (max-width: 400px) {
  #about .card p {
    height: 140px;
  }
}

#about .card :last-child {
  margin-top: -5px;
}

@media (max-width: 1024px) {
  #about .card {
    margin-bottom: 1rem;
  }
}

#about.container {
  background: white;
  padding: 80px 0;
}

#about .wrap-sm {
  width: 420px;
  height: 600px;
  text-align: center;
  position: relative;
}

#about .wrap-sm h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 200px;
  -webkit-text-stroke: 1px #e7e7e7;
  -webkit-text-fill-color: #eeeeee;
  font-weight: 800;
  padding: 0;
  margin: 0;
  line-height: 1;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 1024px) {
  #about .wrap-sm h1 {
    font-size: 250px;
  }
}

@media (max-width: 600px) {
  #about .wrap-sm h1 {
    font-size: 200px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media (max-width: 450px) {
  #about .wrap-sm h1 {
    font-size: 170px;
  }
}

#about .wrap-sm h2 {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding-top: 130px;
}

@media (max-width: 450px) {
  #about .wrap-sm h2 {
    font-size: 1.5rem;
    padding-right: 0;
  }
}

#about .wrap-sm p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  padding: 0 20px;
}

@media (max-width: 1024px) {
  #about .wrap-sm p {
    font-size: 1.2rem;
    padding-top: 2rem;
  }
}

@media (max-width: 450px) {
  #about .wrap-sm p {
    font-size: 1rem;
  }
}

#about .wrap-sm img {
  padding: 80px 0;
}

@media (max-width: 900px) {
  #about .wrap-sm img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5 / span 2;
    width: 60%;
  }
}

@media (max-width: 500px) {
  #about .wrap-sm img {
    width: 75%;
  }
}

@media (max-width: 400px) {
  #about .wrap-sm img {
    width: 85%;
  }
}

/* === SITE SECTION - WORK === */
.active {
  background: white;
}

#work.container {
  max-height: 900px;
  background-color: #282d3d;
  padding: 80px 0;
}

@media (max-width: 500px) {
  #work.container {
    padding-bottom: 40px;
  }
}

#work .slider {
  width: 1440px;
  height: 700px;
  overflow: hidden;
  position: relative;
}

#work .slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#work .slider .nav-manual {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 20;
}

#work .slider .nav-manual .manual-btn {
  border: 2px solid white;
  padding: 5px;
  margin: 0 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#work .slider .nav-manual .manual-btn:active, #work .slider .nav-manual .manual-btn:focus, #work .slider .nav-manual .manual-btn:hover {
  background: white;
}

/* === SITE FOOTER === */
.site-footer {
  background: white;
}

.site-footer .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding: 40px 30px;
  font-size: .9rem;
  line-height: 1.3;
}

@media (max-width: 600px) {
  .site-footer .flex {
    font-size: .8rem;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 600px) {
  .site-footer .site-logo {
    margin-right: 0;
  }
}

.site-footer ul.company-address li:first-child {
  font-weight: 600;
}

.site-footer ul.navigation li {
  position: relative;
}

.site-footer ul.navigation li:after {
  content: " ";
  position: absolute;
  background-color: #11141a;
  height: 1px;
  width: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.site-footer ul.navigation li:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .site-footer ul.navigation li a {
    font-size: .9rem;
  }
}

@media (max-width: 600px) {
  .site-footer ul.navigation li a {
    font-size: .8rem;
  }
}

.site-footer .container.copyright {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-footer .copyright {
  padding: 0;
  margin: 0 auto;
  font-size: .7rem;
  opacity: .8;
  text-align: center;
  width: 100%;
}

.site-footer .copyright a {
  text-decoration: underline;
  font-size: .7rem;
}
/*# sourceMappingURL=style-smartmedic.css.map */